{% extends 'core/base.html.twig' %}

{% block content %}
    <h1 class="mt-5">Profil</h1>
    <div class="row">
        <div class="col-6">
            <h3>Informations</h3>
            <img src="https://ui-avatars.com/api/?name={{ currentUser.firstName }}+{{ currentUser.lastName }}&rounded=true&background=random" alt="">
            <span><a href="{{ path('app_logout') }}">Se déconnecter</a></span>
            <h5>{{ app.user.firstName }} {{ app.user.lastName }}</h5>
            <div>
                {{ dump(app.user) }}
            </div>
        </div>
        <div class="col-6">
            <h3>Inventaire</h3>
            <div id="inventory">
                <div class="row">
                    {% for inventory in currentUser.inventories %}
                        <div class="col-md-4 my-2">
                            <div class="card shadow">
                                <img src="{{ asset(inventory.item.imagePath) }}" alt="item-icon" class="card-img-top item-icon mx-auto">
                                <div class="card-body">
                                    <h5 class="card-title">{{ inventory.item.name }}</h5>
                                    <p class="card-text item-qty">{{ inventory.quantity }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block javascripts %}

{% endblock %}
