{% extends 'core/base.html.twig' %}
{% block content %}
<section>
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col">
				<div id="todos-list" class="card">
					<div class="card-body py-4 px-4 px-md-5">
						<p class="h1 text-center mt-3 mb-4 pb-3">
							<i class="fas fa-check-square me-1"></i>
							<u>Tâches de {{ name }}</u>
						</p>

						<div class="pb-2">
							<div class="card">
								<div class="card-body">
                                    <form method="POST" action="{{ path('todo_add') }}">
                                    <div class="d-flex flex-row align-items-center">
                                        <input name="txtTodoName" type="text" class="form-control mx-3" placeholder="Nouvelle tâche..." required>
                                        <select name="cboTodoPriority" class="form-select">
                                            <option value="low">Basse</option>
                                            <option selected value="medium">Moyenne</option>
                                            <option value="high">Élevée</option>
                                        </select>
                                        <input name="clpTodoColor" type="color" class="form-control form-control-color mx-3" value="#563D7C">
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
                                    </form>
                                </div>
							</div>
						</div>

						<hr class="my-4">
                        <form action="{{ path('todo_update') }}" method="POST">
                        {% for key, todo in todolist.todos %}
                        <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                            <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                <input name="{{ 'txtTodo[' ~ key ~ ']' }}" value="{{ todo.name }}" type="text" class="form-control mx-3" placeholder="Nouvelle tâche..." required>
                                <select name="{{ 'cboPriority[' ~ key ~ ']' }}" class="form-select">
                                    <option {% if todo.priority == "low" %} selected {% endif %} value="low">Basse</option>
                                    <option {% if todo.priority == "medium" %} selected {% endif %} value="medium">Moyenne</option>
                                    <option {% if todo.priority == "high" %} selected {% endif %} value="high">Élevée</option>
                                </select>
                                <input name="{{ 'clpColor[' ~ key ~ ']' }}" type="color" class="form-control form-control-color mx-3" value="{{ todo.color }}">
                            </li>
                            <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                <div class="d-flex flex-row justify-content-end mb-1">
                                    <a href="{{ path('todo_delete', { index: key }) }}" class="text-danger">Supprimer</a>
                                </div>
                                <div class="text-end text-muted">
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                        <div class="d-flex flex-row justify-content-md-center my-2">
                            <button name="action" value="update" type="submit" class="btn btn-success col-4 mx-3">Mettre à jour</button>
                            <button name="action" value="empty" type="submit" class="btn btn-danger col-4 mx-3">Vider la liste de tâche</button>
                        </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
